html {
	font-family: "Curlz MT";
	background: lemonchiffon;
}

body {
	margin-right: 45%;
	position: static;
	font-size: large;
}
img {
	height: 500px;
	width: 500px;
	float: left;
	padding-right: 20px;
}