html {
	font-family: "Curlz MT";
	background: cornflowerblue;
}

body {
	font-size: large;
}

img {
	height: 500px;
	width: 500px;
	float: left;
	border: dashed black;
	margin-right: 20px;
}

h1,h2 {
	text-align: center;
}

.pic {
	height: 400px;
	width: 500px;
	float: right;
	border: dashed black;
	margin-left: 20px;
}